@font-face {
    font-family: 'TitleFont'; /*a name to be used later*/
    src: url('CuteAurora-PK3lZ.ttf'); /*URL to font*/
}

html{
    height: 100%;
    width: 100%;
    background-color:navajowhite;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;

    height: auto;
    min-height: 100%;
    width: 100%;
    max-width: 420px;

    background-color:floralwhite;

    /* padding: 0  var(--space-half); */
    margin: auto;

    box-shadow: 0px 0px 5px 7px burlywood;

    font-family:  system-ui, -apple-system, 'Segoe UI', 'Roboto', Ubuntu, Cantarell, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';


}

#bottomlogos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-evenly;
    align-items: center;

    height: 80px;
    width: 100%;
    max-width: 420px;

    position: fixed;
    bottom: 0.3%;
    /* left: 0; */
    /* padding: 0  var(--space-half); */
    margin: auto;

    background-color:lemonchiffon;
    border-top: 1px solid burlywood;
    border-radius: 10px;

}

#bottomlogos a{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* bottom: 0.5%; */
    /* left: 46vw; */

    height: 70px;
    width: 70px;

}

#logo{
    display: block;
    position: relative;

    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 2px lightgrey;

}
.btmicon{
    display: block;
    position: relative;

    height: 70%;
    width: 70%;
    color: burlywood;
    /* border-radius: 50%; */
    /* box-shadow: 0px 2px 2px 2px lightgrey; */
    object-fit: contain;


}

#title{
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 120px;
    /* background-color:wheat ; */
    text-align: center;
    justify-content: center;
    align-items: center;

    background-color: lemonchiffon;

    border-bottom:2px solid burlywood;
    border-radius: 6px;

    /* box-shadow: 0px 2px 2px 2px burlywood; */
    /* color:moccasin; */

}

#maintit{
    color: burlywood;
    font-family: 'TitleFont';
    font-size: 50px;
    font-weight: bolder;
    margin: 30px 0px 0px 0px;
    text-shadow: 0px 2px navajowhite;
}

#subtit{
    display: inline;
    color: black;
    justify-self: flex-end;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 12px;
    font-weight:lighter;
    /* text-shadow: 0px 2px navajowhite; */
    margin: 20px 0px 0px 0px;

}

.txtcard{

    display: block;
    padding: 4px 0px;

    border-bottom:2px solid burlywood;
    border-radius: 4px;

    text-decoration: none;
    margin: 2%;
}

.gamecard{
    display: flex;
    flex-direction: row;

    width: 99%;
    height: auto;
    min-height: 15vh;
    /* background-color:wheat ; */
    
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;

    padding: 4px 0px;

    border-bottom:2px solid burlywood;
    border-radius: 4px;

    text-decoration: none;
    font-family:  system-ui, -apple-system, 'Segoe UI', 'Roboto', Ubuntu, Cantarell, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    margin: 1% 0%;
}
 .gamecard img{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin: 0%;
    

 }

 .gamestores {    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 40px;
    width: 70px;

    margin: 0%;
}

.gamestores a{
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    border-radius: 20%;
    margin: 0px 2px;

    border: none;
    background-color: beige;

    

}

/* .gamestores button:hover{
    cursor:pointer;
} */


 .androidicon{
    background-image: url("images/android-logo.png");

    
 }

 .iosicon{
    background-image: url("images/apple.png");
}

/* <a href="https://www.flaticon.com/free-icons/android" title="android icons">Android icons created by Freepik - Flaticon</a> */
/* <a href="https://www.flaticon.com/free-icons/logo" title="logo icons">Logo icons created by Pixel perfect - Flaticon</a> */


